# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.cache

# Logs
*.log

# Environment variables
.env

# MacOS system files
.DS_Store

# VS Code settings
.vscode/